<?xml version="1.0"?>
<config>
    <modules>
        <Kerss_Sizechart>
            <version>1.0.1</version>
        </Kerss_Sizechart>
    </modules>
    <frontend>
        <routers>
            <sizechart>
                <use>standard</use>
                <args>
                    <module>Kerss_Sizechart</module>
                    <frontName>sizechart</frontName>
                </args>
            </sizechart>
        </routers>
        <layout>
            <updates>
                <sizechart>
                    <file>sizechart.xml</file>
                </sizechart>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <sizechart>
                <class>Kerss_Sizechart_Helper</class>
            </sizechart>
        </helpers>
        <blocks>
            <sizechart>
                <class>Kerss_Sizechart_Block</class>
            </sizechart>
        </blocks>
        <models>
            <sizechart>
                <class>Kerss_Sizechart_Model</class>
                <resourceModel>sizechart_mysql4</resourceModel>
            </sizechart>
            <sizechart_mysql4>
                <class>Kerss_Sizechart_Model_Mysql4</class>
                <entities>		  
                    <sizechart>
                        <table>kerss_sizechart</table>
                    </sizechart>
                </entities>
            </sizechart_mysql4>
        </models>
        <resources>
            <sizechart_setup>
                <setup>
                    <module>Kerss_Sizechart</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sizechart_setup>
            <sizechart_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sizechart_write>
            <sizechart_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sizechart_read>
        </resources>
    </global>
    <admin>
        <routers>
            <sizechart>
                <use>admin</use>
                <args>
                    <module>Kerss_Sizechart</module>
                    <frontName>admin_sizechart</frontName>
                </args>
            </sizechart>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <sizechart module="sizechart">
                <title>Sizechart</title>
                <sort_order>100</sort_order>
                <children>
                    <sizechart module="sizechart">
                        <title>Manage Sizechart</title>
                        <sort_order>10</sort_order>
                        <action>admin_sizechart/adminhtml_sizechart</action>
                    </sizechart>
                    <settings module="sizechart">
                        <title>Settings</title>
                        <sort_order>20</sort_order>
                        <action>adminhtml/system_config/edit/section/scsection</action> 
                    </settings>
                </children>
            </sizechart>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <sizechart translate="title" module="sizechart">
                            <title>Sizechart</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <sizechart translate="title">
                                    <title>Manage Sizechart</title>
                                    <sort_order>0</sort_order>
                                </sizechart>
                            </children>
                        </sizechart>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <sizechart>
                    <file>sizechart.xml</file>
                </sizechart>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <scsection>
            <kerssgroup>
                <scenable>1</scenable>
                <enablejq>1</enablejq>
                <sclink>Measurement Chart</sclink>
            </kerssgroup>
			<popupgroup>
				<popupwidth>800</popupwidth>
				<popupheight>400</popupheight>
				<overlayShow>true</overlayShow>
				<overlayColor>#525252</overlayColor>
				<centerOnScroll>true</centerOnScroll>
				<openEffect>fade</openEffect>
				<closeEffect>fade</closeEffect>
				<speedIn>1000</speedIn>
				<speedOut>1000</speedOut>
				<showCloseButton>true</showCloseButton>
				<titleShow>true</titleShow>
				<enableEscapeButton>true</enableEscapeButton>
			</popupgroup>
        </scsection>
    </default>
</config> 