/*	Custom font 	*/
@font-face{
	font-family: PreciousSerifBook;
	src: url("http://kreativeco.com/cfm/skin/frontend/cakeformonarchs/default/fonts/PreciousSerifBook.ttf");
}
.font-medium .PreciousSerifBook{
	font-family: "PreciousSerifBook"!important;
}


@font-face{
	font-family: PreciousSansMedium;
	src: url(http://kreativeco.com/cfm/skin/frontend/cakeformonarchs/default/fonts/PreciousSansMedium.ttf);
}
.PreciousSansMedium .sans-medium{
	font-family: "PreciousSansMedium" !important;
}


@font-face{
	font-family: PreciousSansBold;
	src: url("http://kreativeco.com/cfm/skin/frontend/cakeformonarchs/default/fonts/PreciousSansBold.ttf");
}
.font-bold .PreciousSansBold {
	font-family:"PreciousSansBold" !important:
}


@font-face{
	font-family: PreciousSansBlack;
	src: url("http://kreativeco.com/cfm/skin/frontend/cakeformonarchs/default/fonts/PreciousSansBlack.ttf");
}
.PreciousSansBlack{
	font-family: PreciousSansBlack !important;
}


@font-face{
	font-family: PreciousSerifBook;
	src: url('http://kreativeco.com/cfm/skin/frontend/cakeformonarchs/default/fonts/PreciousSerifBook.ttf');
}
.PreciousSerifBook{
	font-family: "PreciousSerifBook" !important;
}

@font-face{
	font-family: PresiousSerifBold;
	src: url('http://kreativeco.com/cfm/skin/frontend/cakeformonarchs/default/fonts/PreciousSerifBold.ttf');
}
.PresiousSerifBold{
	font-family: "PresiousSerifBold" !important;
}


@font-face{
	font-family: PreciousSansLightItalic;
	src: url('http://kreativeco.com/cfm/skin/frontend/cakeformonarchs/default/fonts/PreciousSansLightItalic.ttf');
}
.PreciousSansLightItalic{
	font-family: "PreciousSansLightItalic" !important;
}

@font-face{
	font-family: PreciousSansBook;
	src: url('http://kreativeco.com/cfm/skin/frontend/cakeformonarchs/default/fonts/PreciousSansBook.ttf');
}
.PreciousSansBook{
	font-family: "PreciousSansBook" !important;
}



/*******************	Font Classes  ****************/



/* 	Common Classes	 */
*{
	font-family: "PreciousSerifBook";
}
label{
	margin:10px 0px!important;
	color: #1e2c47 !important;
}
h1, .h1, h2, .h2, h3, .h3{
	margin-top:0px!important;
	font-family: "PreciousSansMedium"!important;
}
ul{
	list-style-type: none;
	list-style: none;
}

.input-box{
	border:0px;
}
.input-box select{
	width: 100%;
}
.input-text{
    border-radius: 3px;
    border: 1px solid lightgray;
    padding: 5px;
    margin: 10px 0px;
}


.input-text2{
    border-radius: 3px;
    padding: 5px;
    margin: 10px 0px;
    color: #1e2c47;	
}
.fieldset h1{
	font-family: "PreciousSansBold";
	font-weight: 900;
}
/*	Layout 	*/
.main-container{
	margin-bottom: 50px;
}
.main{
	/*border-bottom: 1px solid #cac8b3;*/
	padding-bottom: 50px;
}
.messages, .success-msg > ul{
	list-style: none;
	padding:0px;
}
/*.success-msg ul li{
	color: #cac8b3;
    background-color: #1e2c47;
    padding: 10px 10px;
    border: 0px;
    width: 100%;
    margin: 10px 0px;
}*/
.messages{
	background-color: #333333;
    
    padding: 10px;
}
.error-msg{
	color: #ffb1b1;
}
.success-msg{
	color:#cac8b3;
}
#empty_cart_button{
	background: transparent;
}
.step-title{
	border-bottom:1px solid #cac8b3;
}
.buttons-set{

}

.grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.upper{
	margin-top: -20px !important;
}

.letra-gris{
	color: #888888 !important;
}

/*	Menu 	*/
.parent > ul{
	display: none;
}
.parent:hover > ul{
	font-family: "PreciousSerifBook";
	display: flex;
	transition: display 2s;
	position: absolute;
	text-align: left;
	list-style: none;
	list-style-type: none;
	margin-left: -610% !important;
	width: 1464.5% !important;
	padding-left: 45% !important;
	padding-right: 40% !important;
	left: 0 !important;
	right: 0 !important;

	/*
	left: 0;
	margin-top: 15px;
	margin-left: -130% !important;
	padding:0px;
	text-align: center;
	 */
	
}
.parent ul li{
	width: 100% !important;
	text-align: center;
}

.not-home span{
	color: #1e2c47;
}

/*	Top Menu	*/
nav > .container-fluid{
	padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
.nav span{
	font-family: "PreciousSerifBook";
}
.navbar-nav > li{
	float:none!important;
	display: inline;
	text-align: center
}
.navbar-nav > li a{
	display: inline-block;
}
.navbar-nav{
	float:none!important;
}
.nav > li,.navbar-default .navbar-nav > li > a{
	display: inline!important;
	color:#cac8b3!important;
	padding:20px;
	font-size: 20px;
}
.nav > li,.navbar-default .navbar-nav > li > a:hover{
	color:#a69a76;
	text-decoration: none;
}
.header{
	/*ckground: url(../images/header-background.jpg) no-repeat top center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	*/
	background-size: cover;
	height: 800px;
}
 .container-fluid > .navbar-header{
 	margin-left:0px!important;
 	margin-right:0px!important;
 }
 .navbar-nav > li > a{
 	font-family: "PreciousSerifBook", sans-serif;
 	text-transform: uppercase;
 	font-weight: 500;
 }

.logo  img{
	padding-top: 50px;
	max-width: 35%;
	padding-bottom: 80px;
}

.collection-btn a{
	text-decoration: none;
	font-family: "PreciousSerifMedium", sans-serif;
	border:1px solid #cac8b3;
	font-size: 16px;
	color:#cac8b3;
}
.collection-btn-clean a{
	text-decoration: none;
	padding:14px 31px 13px 31px;
	border:1px solid #cac8b3;
	font-size: 16px;
	color:#cac8b3;
}
.collection-btn a:hover{
	color:#a69a76;
	text-decoration: none;
}
.collection-btn-clean a:hover{
	color:#a69a76;
	text-decoration: none;
}
.navbar-default .navbar-toggle{
	border-color: transparent!important;
}
.navbar-default .navbar-nav > .active > a{
	background-color: color:#cac8b3!important;
	border-radius: 5px;
	color:#1e2c47!important;
}
.logo-top{
    position: absolute;
    width: 100%;
    top: 20px;
}

.top-logo{
	border: 1px solid red;
	max-width: 15% !important;
	padding: 0!important;
	margin-left: 40%;
}


.header .form-search { 
	position:absolute; 
	top:4.3%; 
	right:-3%;
	float:right;
	z-index: 9999999 !important;
}

.form-search label{
	visibility: hidden;
}
.form-search .button{
	visibility: hidden;
}
.logo-wrapper{
	position:absolute;
	width: 100%;
	top:0;
	z-index: 0;
}
.page-scroll-indicator{
	font-family: 'Glyphicons Halflings';
	position: absolute!important;
    bottom: 0!important;
	color:#a69a76;
    top: 93%;
    width: 100%;
    text-align: center;
    font-size: 3em;
}
.navbar-default .navbar-nav > .active > a{
	background-color: transparent!important;
}
.topHeaderLinks{

}


/*	Breadcrums 	*/
.breadcrumb{
	background-color: transparent!important;
}
.breadcrumb ul li{
	display: inline;
}

/*	Catalog	*/
.category-title, .page-title{
	border-bottom:1px solid #1e2c47 ;
	margin-bottom:50px;
}
.page-title h5 a{
	text-decoration:none;
	color:#1e2c47;
}

/*	Product */
.item .product-name{
	border-bottom:1px solid #1e2c47 ;
	padding-top:10px;
    padding-bottom: 10px;
    width: 50%;
    margin: 0 auto;
}
.product-name{
	font-family: "PreciousSansBold", sans-serif;
	font-weight: 900;
}
.product-name a{
	color:#1e2c47 ;
	font-weight: 900;
    font-family: PreciousSansBold;
}
.product-name a:hover{
	text-decoration: none;
}
.item{
	margin:50px 0px;
}
.product-view{
	margin:50px 0px;
}
.product-shop .product-name{
	
}
.product-img-box .product-image{
	padding: 10px;
    border: 1px solid #cac8b3;
	text-align: center;
}
.more-views ul li{
	display:inline;
}
.more-view-image img{
	border:1px solid #cac8b3;
	padding:2px;
}
.button{
    color: #cac8b3;
    background-color: #1e2c47;
    padding: 10px 10px;
    border: 0px;
    width: 100%;
    margin: 10px 0px;
}
.button:hover{
	text-decoration: none;
	color:#cac8b3;
}


.button-newsletter:hover{
    background-color: #999999 !important;
	text-decoration: none;
	color: white;
}

.button-newsletter{
    color: #cac8b3;
    background-color: #888888 !important;
    padding: 10px 10px;
    border: 0px;
    width: 100%;
    margin: 10px 0px;
}



select {
    margin: 50px;
    border: 1px solid #111;
    background: transparent;
    width: 150px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}



/*	Icons	*/
.icon{
	font-size: 45px;
	color:#cac8b3;
}

/*	Responsive Fix	*/
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color: transparent!important;
}
.container-fluid > .navbar-collapse{
	margin-right: 0px!important;
    margin-left: 0px!important;
}

/* 	Footer	*/
.footer-container{ 
	font-family: "PreciousSerifBook", sans-serif;
	color:#1e2c47!important;
	/*border-top:1px solid #cac8b3;*/
	padding-top:15px;
}
.footer-container h4{
	font-weight: 900;
	font-family: PreciousSansBold;

}
.footer-container ul{
	list-style: none;
	list-style-type: none;
	padding-left:0px;
}
.footer-container ul li a{
	color:#1e2c47!important;
	text-decoration: none;
    font-family: PreciousSansBold;

}
.footer-line{
	border-top:1px solid #cac8b3;
}
.social-links ul li{
	display:inline;
}
.newsletter-input{
    border-bottom: 1px solid #cac8b3;
    width: 90%;	
    
}
.newsletter-input input{
	border:0px;
	width: 90%;
}
.newsletter-input input:focus{
	border:0px;
}
.newsletter-input > .glyphicon{
	color:#cac8b3;
}
.subscribe-button button {
	background-color: #cac8b3;
	color:#fff;
	width: 90%;
	border:0px;
	margin-top:10px;
	padding:5px;
}



/*	Section 1	*/
.section1{
	font-family: "PreciousSerifMedium";
	margin-top:50px;
	margin-bottom:-10px;
	margin-left: 50%;
}
.polo-text{
	margin-top: 17% !important;
}
.polo-text a{
	background-color:#1e2c47;
	padding:15px 50px;
	color:#cac8b3;
	margin:10px;
}
.polo-text a:hover{
	text-decoration: none;
	color:#cac8b3;
}

/*	Section 2	*/
.section2{
	background: url(../images/followup-background.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 500px;
	font-family: "PreciousSerifBook";
	color:#fff;
}
.section2 > .container > .row{
    margin-top: 184px;
    margin-bottom: 184px;
}
.section2 > .container-fluid > .row{
	text-align: center;
	margin-top:25%;
}
.section2  a{
	background-color: #1e2c47;
    padding: 15px 50px;
    color: #cac8b3;
    margin: 10px;	
}

/*	Section 3	*/
.section3{
	font-family: "PreciousSerifBook";
}
.section3 a{
	background-color: #1e2c47;
    /*padding: 15px 50px;*/
    color: #cac8b3;
    /*margin: 10px;	*/
}
.section3 a:hover{
	text-decoration: none;
	color: #cac8b3;
}
.section3 img{
	width: 100%;
}
.section3 .col-md-3{
	padding-right: 0px!important;
	padding-left:0px!important;
}
.section3 .about-text{
  margin-top: 14.36%;
  margin-bottom: 14.36%;
}

.about-text{
	margin-top: 14% !important;	
}


.section4{
	background-color: white;
	font-family: "PreciousSerifBook";
	padding-top: 20px;
	/*margin-top:50px;
	margin-bottom:50px;*/
}

/*	Our Story 	*/
.our-story{
	margin-top: -50px;
	width: 100%;
	position: absolute;
	left: 0;
	background: url(../images/our-story-background.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 500px;
	font-family: "PreciousSerifBook";
	color:#1e2c47 !important;
}
.our-story-text{
	margin-top:550px;
	font-family: "PreciousSerifBook";
	color:#1e2c47 !important;
}
.our-story-text h2{
	font-family: "PreciousSerifBook";
	font-weight: 100 !important;
}

.our-story-text *{
	color:#1e2c47 !important;
}

/*	Customer service */
.customer-service{
	margin-top: -50px;
	width: 100%;
	position: absolute;
	left: 0;
	background: url(../images/customer-service-background.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 500px;
	font-family: "PreciousSerifBook";
	color:#fff;	
}
.customer-service-info{
	margin-top:550px;
}
.panel-title a{
	font-family: "PreciousSansBold";
	font-weight: 900;
	font-size: 24px;
}
.panel-default > .panel-heading{
	background-color: transparent!important;
	border-color:transparent!important;
	border:0px!important;
}
.panel{
	border:0px!important;
}
.dropdown-faq{
	margin-top: -15px;
}


/*	Checkout 	*/
.checkout-types{

}

.nav .navbar-nav{
	padding-top: 5px !important;
}


#barra-separadora{
	border-bottom: 0.2px solid beige;
	/*border-bottom: 0.2px solid rgba(202,200,179,0.7);*/
	width: 105%;	
	margin-left: -1.2%;
	margin-top: 2%;
	margin-bottom: -4.8%;
}

.barra-top1{
	text-align: right;
	margin-top: 5px;
	margin-bottom: -18px;
}

.barra-top2{
	top: 0px !important;
	margin-top: -100px;
}

.level0{
	font-family: PreciousSansMedium !important;
}

.parent ul {
	background: rgba(202,200,179,0.4);
}

.barra-top2 ul{
	width: 100% !important;
	list-style-type: none !important;
	text-align: center !important;
	padding-top: 20px !important;
	text-decoration: none;
	color: beige;
	margin-top: 5%;
	padding-top: 0px;
	padding-bottom: 1% !important;
} 



/**
 *
 * Cambie de header es el padding bottom y tengo que correjir los links del header
 * donde estan los enlaces de login cart y lista de deseos.
 * 
 */

.barra-top2-fondo{
	background: rgba(202,200,179,0.4) !important;
}

.barra-top2 li{
    padding-left: 25px !important; 
    margin-left: 20px !important;
    text-align: center !important;
    display: inline;
    vertical-align: middle !important;
    padding-bottom: 10px !important;
}

.barra-top2 a span{
	font-family: PreciousSansMedium !important;
	text-transform: capitalize !important;
	font-size: 16px !important;
	color: #1e2c47;
    padding-bottom: 10px !important;
}

.letra-blanca{
	color: #fff !important;
}

.izquierdador{
	text-align: left !important;
	margin-left: 10px;
	padding-left: 5px;
}


#loguito-nav{
    display: inline;
    text-align: left !important;
}


.espaciotope{
	min-height: 50px !important;
}


.parent:hover > ul {
	height: 50%;
	top: 0 !important;
	margin-top: 39% !important;
}

.parent:hover > ul > li {
	top: 0 !important;
	margin-top: -2.5% !important;
}


.loguito-nav{
	max-width: 3.5% !important;
	height: auto;
	padding-right: 5px;
	margin-left: 35px;
}

.fondo-blanco{
	background: rgba(255,255,255,5);
}

.fondo-polo{
	background: rgba(255,255,255,5);
	min-width: 105.2% !important;
	margin-left: -4% !important;
	overflow: hidden;
	min-height: 710px!important;
}

.box-collateral * {
	font-family: PreciousSansMedium!important;
	text-transform: capitalize;
}

.product-name a {
	font-family: PreciousSansMedium !important;
	text-transform: capitalize;
}

#nombre-en-lista{
	font-family: PreciousSerifBook !important;
}

span .PreciousSansMedium a {
	font-family: PreciousSansMedium !important;
}

/*****************************************************/
/*    Animaciones -> Seccion 1 -> Polos Sections     */
/*****************************************************/

.polo-section {
	margin-bottom: -60px
}
.polo-izquierdo{
	margin-left: 10% !important;
}

@keyframes polos {
	0%{ margin-left: 0; }
	20%{ margin-left: 0; }

	25%{ margin-left: -100%; }
	30%{ margin-left: -100%; }

	35%{ margin-left: -200%; }
	45%{ margin-left: -200%; }

	50%{ margin-left: -300%; }	
	65%{ margin-left: -300%; }

	70%{ margin-left: -300%; }	
	80%{ margin-left: -300%; }

	85%{ margin-left: -300%; }	
	100%{ margin-left: -300%; }
}


/*****************************************************/
/*   Animaciones fade in fade out en polos sections  */
/*****************************************************/


#crossfade{ 
background: green;
}

#crossfade > img { 
	width: 80%;
	min-height: 80%;
	position: absolute;
	top: 0px;
	left: 0px;
	color: transparent;
	opacity: 0;
	z-index: 0;
	-webkit-backface-visibility: hidden;
	-webkit-animation: imageAnimation 20s linear infinite 0s;
	-moz-animation: imageAnimation 20s linear infinite 0s;
	-o-animation: imageAnimation 20s linear infinite 0s;
	-ms-animation: imageAnimation 20s linear infinite 0s;
	animation: imageAnimation 20s linear infinite 0s;
}

#crossfade > img:nth-child(2)  { 
	-webkit-animation-delay: 4s;
	-moz-animation-delay: 4s;
	-o-animation-delay: 4s;
	-ms-animation-delay: 4s;
	animation-delay: 4s; 
}
#crossfade > img:nth-child(3) { 
	-webkit-animation-delay: 8s;
	-moz-animation-delay: 8s;
	-o-animation-delay: 8s;
	-ms-animation-delay: 8s;
	animation-delay: 8s; 
}
#crossfade > img:nth-child(4) { 
	-webkit-animation-delay: 12s;
	-moz-animation-delay: 12s;
	-o-animation-delay: 12s;
	-ms-animation-delay: 12s;
	animation-delay: 12s; 
}



#crossfades > img { 
	width: 80%;
	min-height: 80%;
	position: absolute;
	top: 0px;
	left: 0px;
	margin-left: 30% !important;
	color: transparent;
	opacity: 0;
	z-index: 0;
	-webkit-backface-visibility: hidden;
	-webkit-animation: imageAnimation 20s linear infinite 0s;
	-moz-animation: imageAnimation 20s linear infinite 0s;
	-o-animation: imageAnimation 20s linear infinite 0s;
	-ms-animation: imageAnimation 20s linear infinite 0s;
	animation: imageAnimation 20s linear infinite 0s;
}

#crossfades > img:nth-child(2)  { 
	-webkit-animation-delay: 4s;
	-moz-animation-delay: 4s;
	-o-animation-delay: 4s;
	-ms-animation-delay: 4s;
	animation-delay: 4s; 
}
#crossfades > img:nth-child(3) { 
	-webkit-animation-delay: 8s;
	-moz-animation-delay: 8s;
	-o-animation-delay: 8s;
	-ms-animation-delay: 8s;
	animation-delay: 8s; 
}
#crossfades > img:nth-child(4) { 
	-webkit-animation-delay: 12s;
	-moz-animation-delay: 12s;
	-o-animation-delay: 12s;
	-ms-animation-delay: 12s;
	animation-delay: 12s; 
}

@-webkit-keyframes imageAnimation { 
	0% { opacity: 0;
		-webkit-animation-timing-function: ease-in; }
		8% { opacity: 1;
			-webkit-animation-timing-function: ease-out; }
			17% { opacity: 1 }
			25% { opacity: 0 }
			100% { opacity: 0 }
		}

		@-moz-keyframes imageAnimation { 
			0% { opacity: 0;
				-moz-animation-timing-function: ease-in; }
				8% { opacity: 1;
					-moz-animation-timing-function: ease-out; }
					17% { opacity: 1 }
					25% { opacity: 0 }
					100% { opacity: 0 }
				}

				@-o-keyframes imageAnimation { 
					0% { opacity: 0;
						-o-animation-timing-function: ease-in; }
						8% { opacity: 1;
							-o-animation-timing-function: ease-out; }
							17% { opacity: 1 }
							25% { opacity: 0 }
							100% { opacity: 0 }
						}

						@-ms-keyframes imageAnimation { 
							0% { opacity: 0;
								-ms-animation-timing-function: ease-in; }
								8% { opacity: 1;
									-ms-animation-timing-function: ease-out; }
									17% { opacity: 1 }
									25% { opacity: 0 }
									100% { opacity: 0 }
								}

								@keyframes imageAnimation { 
									0% { opacity: 0;
										animation-timing-function: ease-in; }
										8% { opacity: 1;
											animation-timing-function: ease-out; }
											17% { opacity: 1 }
											25% { opacity: 0 }
											100% { opacity: 0 }
										}

/*****************************************************/
/*    Animaciones -> de titulos-> Polos-sections     */
/*****************************************************/
#titulos  {
	-webkit-animation: fadein 8s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 8s; /* Firefox < 16 */
	-ms-animation: fadein 8s; /* Internet Explorer */
	-o-animation: fadein 8s; /* Opera < 12.1 */
	animation: fadein 8s;
}

@keyframes fadein {
	from { 
		opacity: 0;
		margin-left: -20%;
	}
	to   { 
		opacity: 1; 
		margin-left: 0;
	}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
	from { 
		opacity: 0;
		margin-left: -20%;
	}
	to   { 
		opacity: 1; 
		margin-left: 0;
	}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	from { 
		opacity: 0;
		margin-left: -20%;
	}
	to   { 
		opacity: 1; 
		margin-left: 0;
	}
}

/* Internet Explorer */
@-ms-keyframes fadein {
	from { 
		opacity: 0;
		margin-left: -20%;
	}
	to   { 
		opacity: 1; 
		margin-left: 0;
	}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
	from { 
		opacity: 0;
		margin-left: -20%;
	}
	to   { 
		opacity: 1; 
		margin-left: 0;
	}
}








/*****************************************************/
/*    Animaciones -> Seccion 5 -> Presale blazer     */
/*****************************************************/

.presales-section-izq {
	width: 95%;
	margin: auto;
	margin-left: 20% !important;
	overflow: hidden;
}
.presales-section-der {
	width: 95%;
	margin: auto;
	margin-left: -10% !important;
	overflow: hidden;
}

.presales-section-der ul {
	display: flex;
	padding: 0;
	width: 800%;
	padding-bottom: 20px;

	/*animation: blazers 24s infinite alternate;*/
}
.presales-section-izq ul {
	display: flex;
	padding: 0;
	width: 800%;
	padding-bottom: 20px;

	/*animation: blazers 24s infinite alternate;*/
}

.presales-section-der li{
	width: 100%;
	list-style: none !important;
	/*border: 2px solid #a33;*/
}

.presales-section-der img{
	width: 80%;
}
.presales-section-izq li{
	width: 100%;
	list-style: none !important;
	/*border: 2px solid #a33;*/
}

.presales-section-izq img{
	width: 80%;
}

@keyframes blazers {
	0%{ margin-left: 0; }
	7%{ margin-left: 0; }

	14%{ margin-left: -100%; }
	21%{ margin-left: -100%; }

	28%{ margin-left: -200%; }
	35%{ margin-left: -200%; }

	42%{ margin-left: -300%; }	
	49%{ margin-left: -300%; }

	56%{ margin-left: -400%; }	
	61%{ margin-left: -400%; }

	68%{ margin-left: -500%; }	
	72%{ margin-left: -500%; }

	77%{ margin-left: -600%; }	
	82%{ margin-left: -600%; }

	91%{ margin-left: -700%; }	
	100%{ margin-left: -700%; }
}



/*****************************************************/
/* Integracion del video de fondo en el landing page */
/*****************************************************/

video{
	position: fixed;

	min-width: 100%;
	min-height: 100%;

	top: 50%;
	left: 50%;

	-webkit-transform: translateX(-50%) translateY(-50%);

	z-index: -1;
}

input #newsletter{
	background: transparent !important;
	border: 0 !important;

}

.inputsearch {
    background-color: transparent;
    border: 1px solid !important;
    padding-bottom: 5px;
}
.inputsearch:hover {
    background-color: transparent;
    color: white !important;
    outline:0px !important;
}
.inputsearch:focus {
    background-color: transparent;
    color: white !important;
    outline:0px !important;
}



.transpa {
    background-color: transparent;
    border: 0px solid !important;
    padding-bottom: 5px;
}
.transpa:hover {
    background-color: transparent;
    color: white !important;
    outline:0px !important;
}
.transpa:focus {
    background-color: transparent;
    color: white !important;
    outline:0px !important;
}
/*****************************************************/


/* Media Queries */
@media(max-width: 430px){
	
	.fondo-polo{
		background: rgba(255,255,255,5);
		min-width: 108% !important;
		overflow: hidden;
	}

	.barra-top ul li{
	    padding-right: 10px !important; 
	    margin-left: 0px !important;
	    display: inline;
	}


}

@media(min-width: 770px){
	.logo-top img{
		max-width: 65px;
		padding-bottom: 80px;
	}
	.navbar-default{
		background-color: transparent!important;
		border-color: transparent!important; 
		padding-top:100px;
		padding-bottom: 25px;
		z-index: 1;
	}
	.navbar-collapse{
		display:none;
	}

}
@media(max-width: 769px){
	.logo  img{
		max-width: 50%;
		padding-bottom: 80px;
	}
	.navbar-default{
		background-color: transparent!important;
		border-color: transparent!important; 
		padding-top:0px;
		padding-bottom: 0px;
		z-index: 1;
	}
	.collapsed{
		display:block;
	}
	.nav > li{
		display: block!important;
		
	}
	.nav > li,.navbar-default .navbar-nav > li > a{
		padding:15px;
	}
	.navbar-default .navbar-collapse{
		background-color: rgba(18,17,24,0.8); 
	}
	.parent > ul{
		display: none;
	}
	.parent:hover > ul{
		display: none;
		margin-top: 5%;
	}
	.logo-top{
		position: absolute;
	    margin-left: auto;
	    margin-right: auto;
	    left: 0;
	    right: 0;
	    top: 0;
		width: 100px;
	    margin-top: 8px;
	}
	.polo-section img{
		width: 50%;
		margin-top: 10% !important;
		margin-bottom: 10% !important;
		margin-left: 12% !important;
	}


}






@media(max-width: 992px){
	.footer-container{
		text-align: center;
	}
	.newsletter-input{
		margin: 0 auto;
	}
	.nav > li, .navbar-default .navbar-nav > li > a{
		padding:12px;
	}
}










